.colors {
  .option {
    height: 1.25rem;
    width: 1.25rem;

    position: relative;
    border-radius: 50%;

    &.selected::before {
      content: '';
      top: 50%;
      left: 50%;
      height: 0.875rem;
      width: 0.875rem;
      background: inherit;
      position: absolute;
      border: 2px solid #fff;
      border-radius: inherit;
      transform: translate(-50%, -50%);
    }

    &:first-child {
      border: 1px solid #ccc;
    }

    &:first-child.selected::before {
      border-color: #ccc;
    }
  }
}
